/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Quicksand:wght@300..700&display=swap');

/* CSS Variables - fonts and colours (inspo taken from pinterest)*/
:root {
    --primary-font: 'Quicksand', sans-serif;
    --secondary-font: 'DynaPuff', cursive;
    --primary-color: #b3cee5; /* Blue */
    --secondary-color: #afd9ae; /* Green */
    --highlight-color: #ffcc99; /* Peach */
    --highlight-color2: #c8a2c8; /* Purple */
    --dark-text-color: #333; /*Dark Text Color */
}
/* Global Styles */

/* Wildcard selector to reset default styles added by the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding-top: 66px; /* Adjusted for fixed navbar height */
    font-family: var(--primary-font);
    background-color: #fffdd0;
}
h1, h2, h3 {
    font-family: var(--secondary-font);
}

/* Navbar Styling */
#navbar {
    background-color: var(--secondary-color);
}
/* Navbar Logo styling */
.logo {
    height: 40px; 
    width: 40px;
    border-radius: 50%;
}

/* Hero Section */
#hero {
    background-image: url(../images/resizedhero.png);
    background-size: cover;
    width: 100%;
    height: 50vh;
    background-position: center center;
}

/* About Section */

/* Negative margin to align text with top of image */
.negative-margin {
    margin-top: -0.4rem;
}

/* Common Issues section */

#common-issues {
    background-color: var(--highlight-color);
}
.card-body {
    background-color: var(--secondary-color)
}

/* Tips Section */
/* Grid messing */

.tips-grid {
    display: grid;
    gap: 1.5rem;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    'one'
    'two'
    'three'
    'four'
    'five'
    'six'
}
#one {
    grid-area: one;
}
#two {
    grid-area: two;
}
#three {
    grid-area: three;
}
#four {
    grid-area: four;
}
#five {
    grid-area: five;
}
#six {
    grid-area: six;
}

.grid-item {
    display: flex;
    justify-content: center;
}


/* Media Queries */

/* Media Query 768px and up */
@media screen and (min-width: 768px) {
    /* Creating desired grid layout */
    .tips-grid {
        grid-template-areas:
        'one two'
        'one three'
        'four four'
        'five six'
    }
        /* Override default bootstrap styling. Enables Bootstrap cards to expand to fill their grid space */
    #tips .card {
        flex: 1 1 auto;
        /* !important tag was needed to override the inline width styling which had been set by Bootstrap and which was causing issues with the layout on larger screens */
        width: auto !important;
    }
}

/* Media Query 1024px and up*/
 
@media screen and (min-width: 1024px) {
    .tips-grid {
        /* Creating desired grid layout */
        grid-template-areas: 
        'one one two three'
        'four five six six'
    }
}
    

/* Styles to visualise structure */
/* .col-12 {
    border: 2px solid black;
}
.row {
    border: 2px dashed blue;
}
#hero {
    border: 2px dotted green;
} */


