/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Quicksand:wght@300..700&display=swap');

/* CSS Variables - fonts and colours (inspo taken from pinterest)*/
:root {
    --primary-font: 'DynaPuff', cursive;
    --secondary-font: 'Quicksand', sans-serif;
    --primary-color: #b3cee5; /* Blue */
    --secondary-color: #afd9ae; /* Green */
    --highlight-color: #ffcc99; /* Peach */
    --highlight-color2: #c8a2c8; /* Purple */
    --dark-text-color: #333; /*Dark Text Color */
}
/* Global Styles */

/* Wildcard selector to reset default styles added by the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding-top: 76px; /* Adjusted for fixed navbar heigh */
}

/* Navbar Styling */
#navbar {
    background-color: var(--secondary-color);
}

/* Hero Section */
#hero {
    background-image: url(../images/resizedhero.png);
    background-size: cover;
    width: 100%;
    height: 50vh;
    background-position: center center;
}

/* Styles to visualise structure */
/* .col-12 {
    border: 2px solid black;
}
.row {
    border: 2px dashed blue;
}
#hero {
    border: 2px dotted green;
} */


