/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Quicksand:wght@300..700&display=swap');

/* CSS Variables - fonts and colours (inspo taken from pinterest)*/
:root {
    --primary-font: 'Quicksand', sans-serif;
    --secondary-font: 'DynaPuff', cursive;
    --primary-color: #b3cee5; /* Blue */
    --secondary-color: #afd9ae; /* Green */
    --highlight-color: #ffcc99; /* Peach */
    --highlight-color2: #c8a2c8; /* Purple */
    --dark-text-color: #333; /*Dark Text Color */
}
/* Global Styles */

/* Wildcard selector to reset default styles added by the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Accounting for fixed navbar with scroll behaviour */
html {
    scroll-padding-top: 66px;
}
body {
    padding-top: 66px; /* Adjusted for fixed navbar height */
    font-family: var(--primary-font);
    background-color: #fffdd0;
    /* To push footer to the bottom of the page */
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1, h2, h3 {
    font-family: var(--secondary-font);
}

/* ------------------------------------------ Navbar */
#navbar {
    background-color: var(--secondary-color);
}
/* Navbar Logo styling */
.logo {
    height: 40px; 
    width: 40px;
    border-radius: 25%;
}
/* Style navbar brand */
.navbar-brand {
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}
.navbar-brand:hover {
    color: var(--highlight-color2);
}
.navbar-brand:active {
    border: 2px dashed var(--highlight-color2);
    border-radius: 20%;
}
/* Style navbar links */
.navbar-nav .nav-link {
    color: var(--dark-text-color);
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
    border-radius: 50%;
}
.navbar-nav .nav-link:hover {
    color: var(--highlight-color2);
}
.navbar-nav .nav-link:active {
    border: 2px dashed var(--highlight-color2);
    border-radius: 20%;
}

/* -------------------------------------------------- Hero Section */
#hero {
    background-image: url(../images/resizedhero.png);
    background-size: cover;
    width: 100%;
    height: 50vh;
    /* To keep image center-aligned on smaller screens */
    background-position: 46%;
}
#hero .container {
    background-color: rgba(175, 217, 174, 0.8);
    border-radius: 5%;
    color: var(--dark-text-color);
}
#hero p {
    font-weight: 600;
}
hr {
    border: solid 1px var(--dark-text-color);
    opacity: 1;
}
.btn-outline-secondary {
    border: 2px solid var(--dark-text-color);
    color: var(--dark-text-color);
    font-weight: bold;
}
.btn-outline-secondary:hover {
    background-color: var(--dark-text-color);
    color: var(--highlight-color);
    border: 2px solid var(--dark-text-color);
}

/* ------------------------------------------ About Section */

/* Negative margin to align text with top of image */
.negative-margin {
    margin-top: -0.4rem;
}

/* ----------------------------------------- Common Issues section */

#common-issues {
    background-color: var(--highlight-color);
}
.card-body {
    background-color: var(--secondary-color)
}

/* --------------------------------------------- Tips Section */

/* CSS Grid to control layout */

#tips {
    background-color: var(--primary-color);
}

.tips-grid {
    display: grid;
    gap: 1.5rem;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    'one'
    'two'
    'three'
    'four'
    'five'
    'six'
}
#one {
    grid-area: one;
}
#two {
    grid-area: two;
}
#three {
    grid-area: three;
}
#four {
    grid-area: four;
}
#five {
    grid-area: five;
}
#six {
    grid-area: six;
}

.grid-item {
    display: flex;
    justify-content: center;
}
/* Style cards */
#tips .card-body {
    background-color: var(--highlight-color2);
}

/* ------------------------------------------ Resources Section */

/* Style accordions */
.accordion-button {
    background-color: var(--primary-color);
}
.accordion-button:hover {
    background-color: #4782b6;
}
.accordion-body {
    background-color: var(--highlight-color)
}

/* image */

#circle-image {
    background-image: url(../images/resources.png);
    background-size: cover;
    background-position: 75%;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 90vw;
    height: 90vh;
    max-height: 300px;
    max-width: 300px;
}
#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem
}

/* ------------------------------------------- Contact Us */

/* Styling Contact Section */
#contact {
    background-color: var(--highlight-color);
    border-radius: 5%;
}
#contact label {
    font-weight: bold;
}
#contact input, #contact textarea {
    background-color: rgb(208, 221, 233);
}
/* Button Styles */
/* Center Button */
.contact-button {
    display: block;
    margin: auto;
}
/* Hover animation */
.contact-button:hover {
    background-color: var(--dark-text-color);
    color: var(--highlight-color);
    border: var(--dark-text-color);
}

/* ------------------------------------------- Footer */

#footer {
    background-color: var(--secondary-color);
    width: 100%;
}
#footer .footer-text * {
    margin-bottom: 0.5rem;
}
/* Override Bootstrap styling which was preventing copyright info and social links spacing */
#footer .row > * {
    flex-shrink: 1;
    width: auto;
}
.copyright {
    font-size: small;
}
/* Enable layout styling of social links */
#footer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    min-width: 10rem;
}
/* Style social links */
#footer ul a {
    color: var(--dark-text-color);
    font-size: 2rem;
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}
#footer ul a:hover {
    color: var(--highlight-color2);
}
#footer ul a:active {
    border: 2px dashed var(--highlight-color2);
    border-radius: 20%;
}

/* ------------------------------------------- Success Page */
#success {
    /* To push footer down */
    flex-grow: 1;
    /* To center content */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--highlight-color);
}

/* ------------------------------------------- Media Queries */

/* ------------------------------------------- 768px and up */

@media screen and (min-width: 768px) {
    /* Tips Section - Desired grid layout */
    .tips-grid {
        grid-template-areas:
        'one two'
        'one three'
        'four four'
        'five six'
    }
        /* Override default bootstrap styling. Enables Bootstrap cards to expand to fill their grid space */
    #tips .card {
        flex: 1 1 auto;
        /* !important tag was needed to override the inline width styling which had been set by Bootstrap and which was causing issues with the layout on larger screens */
        width: auto !important;
    }

    /* Resources Section - layout styling of accordions */

    /* Enable flex control for layout and create spacing */
    #accordion-a, #accordion-b {
        display: flex; 
        flex-direction: column;
        width: 100%;
        margin: 2rem 0;
    }
    /* Visual Purposes */
    .accordion {
        width: 80%;
    }
    #accordion-b .accordion {
        align-self: flex-end;
    }
}

/* ------------------------------------------ 1024px and up*/

@media screen and (min-width: 1024px) {
    .tips-grid {
        /* Creating desired grid layout */
        grid-template-areas: 
        'one one two three'
        'four five six six'
    }
    /* Resources Layout */

    /* Display items in a row */
    #support {
    display: flex;
    }
    /* Ensure image goes in middle */
    #accordion-b {
        order: 2;
    }
    /* Override previous media query to expand accordion's and align them */
    .accordion {
        width: 90%;
        padding-top: 18%;
    }
}

